body {
    font-family: 'Ubuntu', sans-serif;
}

.home-tab {
    background-color: crimson;
}

.post-tab {
    background-color: magenta;
}

.author-tab {
    background-color: orange;
}

.login-tab {
    background-color: greenyellow;
}

.signup-tab {
    background-color: yellow;
}

.active a{
    color: white;
    font-weight: bolder;
}

.home-tab a {
    color: black;
}

.post-tab a {
    color: black;
}

.author-tab a {
    color: black;
}

.login-tab a {
    color: black;
}

.signup-tab a {
    color: black;
}

.home-tab.active{
    background-color: darkred;
}

.post-tab.active{
    background-color: darkmagenta;
}

.author-tab.active{
    background-color: chocolate;
}

.login-tab.active{
    background-color: mediumseagreen;
}

.signup-tab.active{
    background-color: darkgoldenrod;
}

.home-tab.active a {
    color: white;
}

.post-tab.active a {
    color: white;
}

.author-tab.active a {
    color: white;
}

.login-tab.active a {
    color: white;
}

.signup-tab.active a {
    color: white;
}

.primary-nav-bar {
    background-color: darkslateblue;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.branding-header {
    background-image: linear-gradient(90deg, gold, white);
}

.crimson-background {
    background-image: linear-gradient(0deg, red, white);
}

.gold-background {
    background-image: linear-gradient(0deg, yellow, white);
}

.lime-background {
    background-image: linear-gradient(0deg, greenyellow, white);
}

.magenta-background {
    background-image: linear-gradient(0deg, magenta, white);
}

.orange-background {
    background-image: linear-gradient(0deg, orange, white);
}

.blog-backing {
    background-color: palevioletred;
}