{% from 'form_helper.html' import displayField %}
{% from 'macros/common_elements.jinja' import author_postfeed, authorsTab %}
{% extends "base.html" %}
{% block title %}
  Make a Post
{% endblock title %}
{% set activePage = 2 %}
{% set authors = [] %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <div class="row m-0 h-100">
    <div class="col-8 p-0 h-100">
      {{ author_postfeed(posts) }}
    </div>
    {{ authorsTab(followed, form) }}
  </div>
{% endblock content %}