{% from 'macros/common_elements.jinja' import authorsTab, postfeed %}
{% extends "base.html" %}
{% block title %}
  Make a Post
{% endblock title %}
{% set activePage = 6 %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
<div class="row m-0 h-100" >
  <div class="col-8 p-0 {% if user.username == session['user'] %} gold-background {% else %} magenta-background {% endif %}mb-auto h-100">
    <div class="row p-5 container-fluid">
      <h1 class="signupheader">{{ user.username }}'s Profile</h1>
    </div>
    <div class="row border-top border-dark border-3 border-bottom align-items-center m-0" style="background-image: linear-gradient(180deg, orange, chocolate);">
      <p class="text-center m-3" style="font-weight: bolder; color:white;">
        {{ user.username }}'s Posts
      </p>
    </div>
    <div class="row p-0 container-fluid m-0">
      {{ postfeed(user.user_id) }}
    </div>
  </div>
  {{ authorsTab(user.userId) }}
</div>
{% endblock content %}
