{% from 'form_helper.html' import displayField %}
{% extends "base.html" %}
{% block title %}
  SignIn
{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <h1 class="SignInheader">Sign In</h1>
  {% if error_messages %}
    {% for message in error_messages %}<h2>{{ message }}</h2>{% endfor %}
  {% endif %}
  <form id="SignIn" class="SignIn" method="post" action="">
    {{ form.csrf_token() }}
    {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
    {{ displayField(form.password, 'Password') }}
    <div class="form-group">{{ form.submit(class="SubmitButton")}}</div>
  </form>
  <div class="PostTableDiv">
    <table class="PostTable" id="TrendingPostTable">
    </table>
  </div>
{% endblock content %}
