{% from "macros/form_helper.html" import displayField %}
{% extends "base.html" %}
{% block title %}
  SignUp
{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <h1 class="signupheader">Sign Up</h1>
  {% if error_messages %}
    {% for message in error_messages %}<h2>{{ message }}</h2>{% endfor %}
  {% endif %}
  <form id="signup" class="signup" method="post" action="">
    {{ displayField(form.username, 'Username', autocomplete="off",
    autofocus=true) }} {{ displayField(form.email, 'Email') }}
    {{ displayField(form.password, 'Password') }}
    {{ displayField(form.confirm_password, 'Confirm Password') }}
    <div class="form-group">{{ form.submit(class="submitbutton") }}</div>
    {{ form.csrf_token }}
  </form>
  <div class="posttablediv">
    <table class="posttable" id="TrendingPostTable">
    </table>
  </div>
{% endblock content %}
