{% from "form_helper.html" import displayField %}
{% from 'macros/common_elements.jinja' import postfeed, postRail %}
{% extends "base.html" %}
{% block title %}
  SignUp
{% endblock title %}
{% set activePage = 4 %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <div class="row m-0 h-100" >
    <div class="col-8 p-0 gold-background mb-auto h-100">
      <div class="p-5 overflow-auto container-fluid">
        <h1 class="signupheader">Sign Up</h1>
        {% with error_messages = get_flashed_messages() %}
          {% if error_messages %}
            <p class="mb-0">Sorry... We ran into some problems:</p>
            {% for message in error_messages %}<p style="color:red">{{ message }}</p>{% endfor %}
          {% endif %}
        {% endwith %}
        <div class="col-5 border rounded flex-md-row shadow-sm border-dark gold-menu">
          <form class="p-3" method="post" action="">
            {{ form.csrf_token() }}
            {{ displayField(form.username, 'username', autocomplete="off") }}
            {{ displayField(form.email, 'user@emailservice.com', autocomplete="off") }}
            {{ displayField(form.password) }}
            {{ displayField(form.confirm_password) }}
            <button type="submit" class="btn" style="background-color: gold;">Submit</button>
          </form>
        </div>
        <div class="mt-3 p-3">
          <p class="mb-0">If you already have an account:</p>
          <button onclick="location.href = '/signin'" class="btn align-right" style="background-color: green; color: white;">LogIn</button>
        </div>
      </div>
    </div>
    {{ postRail(trending_posts) }}
  </div>
{% endblock content %}